# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [6]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Unit 7 HW")

In [8]:
# Write function that locates outliers using standard deviation
query = "SELECT * FROM transaction"
transactions = pd.read_sql(query, engine)

In [15]:
# Find anomalous transactions for 3 random card holders
query =''' SELECT  CH.id, TR.date, TR.amount, TR.card, tr.id_merchant, MC.name
	FROM card_holder CH
	
	JOIN credit_card CC
	
	ON CH.id = CC.cardholder_id

	JOIN transaction TR
	
	ON TR.card = CC.card
	
	JOIN merchant ME
	
	ON TR.id_merchant = ME.id_merchant_category
	
	JOIN merchant_category MC
	
	ON TR.id_merchant = MC.id
	
WHERE CH.id IN ('2', '18', '25')

'''

pd.read_sql(query, engine).head()

In [31]:
ccholder_df = pd.read_sql(query, engine)
ccholder_df.head()

   id                date  amount           card  id_merchant         name
0   2 2018-10-30 07:27:12   10.45   675911140852            1   restaurant
1  18 2018-02-14 09:36:28    2.73  4498002758300            1   restaurant
2   2 2018-10-30 07:27:12   10.45   675911140852            1   restaurant
3  18 2018-02-14 09:36:28    2.73  4498002758300            1   restaurant
4   2 2018-12-28 15:30:55   11.03   675911140852            2  coffee shop

In [29]:
ccholder_df['amount'] = ccholder_df['amount'].astype(str).astype(float)

In [33]:
ccholder2_data = ccholder_df.loc[ccholder_df['id'] == "2"].set_index('date')
ccholder2_data.index = pd.to_datetime(ccholder2_data.index)
ccholder2_data.head()

Empty DataFrame
Columns: [id, amount, card, id_merchant, name]
Index: []

In [28]:
ccholder_df.hvplot.line(
    x="date",
    y="amount",
    xlabel="Date",
    ylabel="Amount",
    title="Transactions by Id Holder 2",
    rot = 90
)

AttributeError: 'DataFrame' object has no attribute 'hvplot'

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range

In [ ]:
# Find anomalous transactions for 3 random card holders